{% extends "layout.njk" %}

{% block content %}
<main class="wrapper">
  <a href="/cats">Tillbaka till katterna</a>
  <p>Det här är en sida för att visa all data om en enskild katt. Den data jag får nu är inte längre en array utan ett objekt.</p>
  <div class="card">
    <h1>Namn: {{ cat.name }}</h1>
    <p>Ålder: {{ cat.age }}</p>
    <p>Vikt: {{ cat.weight }}</p>
    <p>Beskrivning: {{ cat.description }}</p>
    <h2>Ras: {{ cat.breed }}</h2>
    <p>Om rasen: {{ cat.breed_desc}}</p>
  </div>
</main>
{% endblock %}