{% extends "layout.njk" %}

{% block content %}
<main class="wrapper">
  <h1>{{ title }}</h1>
  <h2>{{ message }}</h2>
  <p>Kattsidan, klicka här på <a href="/cats">katter</a> för att se alla katterna!</p>
</main>
{% endblock %}